# TEMPs
*.bak
*.DS_Store
*.egg-info
*.old
*.orig
*.pyc
*~
.*.swp
.*~

# IDEs
*.code-workspace
*.log*
*.nja
*.sublime-*
*.~*
.hgignore
.idea/*
.komodoproject
.komodotools
.project
.pydevproject
.vscode
src/.settings/*

# PROJECT
env/*
local_settings.py
src/env/*
src/media/*
src/static_files/*
venv/*
src/reports_migration
# DBs
*.dat
*.db
*.db-journal
*.sqlite
*.sqlite3

# DOCS
!/docs/*

# Results
*.csv

